<footer>
  <h3   style="color: red;"">WARNING: THIS WEBSITE IS STILL UNDER DEVELOPMENT</h3>
  <h4>There may be bugs and inconsistencies with the data</h4>
  Brought to you by a bored highschool senior in quarantine
</footer>
