<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64040181-5"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-64040181-5');
</script>

<meta charset="utf-8">
<title>Covid19tracker</title>
  <meta name="description" content="Covid-19 data aggregation dashboard. This dashboard allows people to get up to date statistics about the covid-19 crisis">
  <meta name="keywords" content="covid-19,covid19,coronavirus,pandemic,corona virus, health, data, information, infection, dashboard, statistics, china, italy, new york, cases, tracker">
  <meta name="author" content="David Bershadsky">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="//www.amcharts.com/lib/4/maps.js"></script>
<script src="//www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/cb87cedded.js" crossorigin="anonymous"></script>
<title>Covid-19 Tracker</title>
<% include global/header%>

<script data-ad-client="ca-pub-4919667444631567" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
  <div class="container">

    <h2>This website is a tool created to visualize the spread of the 2019 Coronavirus </h2>
    <h3>Resources used:</h3>
    <p>
      <a href="https://github.com/CSSEGISandData/2019-nCoV"> Thanks to Jhons Hopkins University for the Data set</a>
    </p>
    <h3>Join our Folding @ Home team</h3>
    <p>Folding at Home is a computing power crowdsourcing program being used to help researchers fight the Coronavirus</p>
    <p>our team code is: 241235</p>
    <p>This website was built and is maintained by a one person team</p>
    <h3>Buy me a coffee</h3>
    <h4>BTC: 39L9Tu3Z7K7gVcgEp5t4naKQe9WADcYyCc</h4>
    or use my Amazon affiliate links
    <div id="amzn-assoc-ad-334ed497-00c1-46e9-8afa-8754145b9bc5"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=334ed497-00c1-46e9-8afa-8754145b9bc5"></script>
    <div id="amzn-assoc-ad-847ea1a4-3860-439c-823f-18401f68e825"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=847ea1a4-3860-439c-823f-18401f68e825"></script>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="scripts/scripts.js"></script>
  <% include global/footer%>
</body>
</html>
