<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64040181-5"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-64040181-5');
</script>

<meta charset="utf-8">
  <meta name="description" content="Covid-19 data aggregation dashboard. This dashboard allows people to get up to date statistics about the covid-19 crisis">
  <meta name="keywords" content="covid-19,covid19,coronavirus,pandemic,corona virus, health, data, information, infection, dashboard, statistics, china, italy, new york, cases, tracker">
  <meta name="author" content="David Bershadsky">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="//www.amcharts.com/lib/4/maps.js"></script>
<script src="//www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/cb87cedded.js" crossorigin="anonymous"></script>
<title>Covid-19 Tracker A dashboard for viewing aggregated data about the current coronavirus pandemic</title>
<% include global/header%>

<script data-ad-client="ca-pub-4919667444631567" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
  <div class="container">
    <h2>Help combat medical equipment shortages by 3d printing face shields</h2>
    <h3>Resources used:</h3>
    <p>Dear all,</p>
<p>The current pandemic has caused massive shortages of medical equipment around the world. The 3d printing of certain medical equipment can help to alleviate some of this demand. My name is David Bershadsky and I am a high school senior at Trinity School NYC, with many years of experience with 3D printers. I have been researching equipment that can be produced by the community and donated to hospitals through crowd sourcing.  I am in touch with a couple more groups working on similar things trying for now to provide sufficient supply of face shields for hospitals.</p>
<p>In order to help combat medical equipment shortages caused by COVID-19 we are sending out this survey to analyze the feasibility of crowdsourcing 3D printed medical equipment such as face shields and masks.
</p>
<p>Survey: <a href="https://forms.gle/AmeSdWEXdj95mJeY8">https://forms.gle/AmeSdWEXdj95mJeY8</a></p>
<p>
Our plan is to find out how many printers there are in your community.  We hope to use that information to distribute the manufacturing process among available equipment to allow us to create large quantities of supplies in a short period of time.  All of the supplies created in this effort will be donated to your local hospital at no cost to the hospital. We can also advise you on how to best get in touch with your local hospitals to determine their needs and to deliver the shields to them.
</p>
<p>In the future, if the demand for face shields would be met, we can try to move on to producing other necessary devices.</p>
<p>This  effort will free up some purchasing power of the hospital to be better competitive in obtaining more complicated necessary emergency equipment in this very strained market.  Hopefully, this will make your local hospital better supplied, and the community as ready as possible to face the difficult reality that is coming.</p>
<p>Thank you.</p>
<p>Please send any questions to this email: <div style="color: blue">contact@covid19tracker.net</div></a></p>

    <div id="amzn-assoc-ad-334ed497-00c1-46e9-8afa-8754145b9bc5"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=334ed497-00c1-46e9-8afa-8754145b9bc5"></script>
    <div id="amzn-assoc-ad-847ea1a4-3860-439c-823f-18401f68e825"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=847ea1a4-3860-439c-823f-18401f68e825"></script>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="scripts/scripts.js"></script>
  <% include global/footer%>
</body>
</html>
